
  <section class="container-fluid">
    <div id="text" class="d-flex align-items-center justify-content-center">
      <div class="text-center ">
        <h1 id="welcome">GITHUB-SEARCH</h1>
        <i class="bi bi-search icon"  ></i>
        <div class="description">
          <p>Github-Search</p>
          <p>This is a simple github user navigation tool for GitHub which makes easy search of Users and their Repositories .It uses Github Api</p>
        </div>
      </div>
    </div>
  </section>
