nav{
  background-color: #515358;
  color: white;
}

.nav-item nav-link{
  color:#515358;
  float:right;
  font-family: 'Lobster Two', cursive;
}

.navbar-nav{
  display: flex;
  justify-content: flex-end;
}