#username {
  border-color: #515358;
}

#user_profile {
  width: 50%;
  height: auto;
  border-radius: 50%;
  align-items: center;
}

#user_profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.following {
  margin-right: 10%;
  margin-left: 0%;
}

.f1 {
  padding-left: 2%;
  color: #515358;
}

.repoLabel {
  margin-top: 6%;
}

.userInfo {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10%;
  color: #515358;
 
}

.uname {
  color: #515358;
  font-weight: 700;
  font-size: 30px;
}

main {
  margin-top: 5%
}
